

.regisScreen{
    position: relative;
    height: 500px;
    width: 400px;
    overflow: hidden;

}

.regisStepsDiv{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.regisInput{
    width: auto;
    height: auto;
    font-size: 1.3em;
    background: rgba(200, 200, 200, 0.376);
    border: none;
    border-radius: 4px;
    outline: none;
    color: rgb(136, 115, 175);
}
.regisInputDiv{
    


}

.regisStepsBtnDiv{
    position: relative;
    width: 100%;
    height: 40px;
    bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.regisStepsBtnNext{
    width: 100%;
    height: 100%;
    display: flex;
    border: none;
    height: 40px;
    width: auto;
    outline: none;
    background: none;
}
.regisStepsBtnNext:hover{
    cursor: pointer;
    color: rgb(136, 115, 175);

}
.regisStepsBtnBack{
    width: 100%;
    height: 100%;
    display: flex;
    border: none;
    height: 40px;
    width: auto;
    outline: none;
    background: none;

}
.regisStepsBtnBack:hover{
    cursor: pointer;
    color: rgb(136, 115, 175);

}
.regisStepsTextBtn{
    width: auto;
    height: auto;
    margin-top: 10px;
    
}








/* Rofil anlegen Bild */
.regisImgDiv{
    position: relative;
    width: 140px;
    height: 140px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.regisImgBtn{
    position: absolute;
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    background: rgb(136, 115, 175);
    color: white;
    border-radius: 50%;
    top: 0px;
    right: 0px;
    z-index: 6;

}
.regisImg{
    width: 100%;
    height: 100%;
    border-radius: 50%;

}