
body {
    margin: 0;
    padding: 0;
  }
  
  .ImgChatDialog{
    position: absolute;
    max-height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.imgChatFrame{
    height: 500px;
    width: 400px;
    background: rgb(253, 253, 253);
    border: 1px solid rgb(209, 209, 209);
    border-radius: 18px;
    margin: 0 auto;
    margin-top: 10%;
    box-shadow: 3px 3px rgba(197, 197, 197, 0.267);

}




.imgSizeHeadDiv{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: flex-end;
  background: none;
}
.imgSizeHeadDivReturnBtn{
  position: relative;
  right: 18px;
  top: 4px;
  border: none;
  background: none;
  outline: none;
  height: 40px;
  width: 40px;
  background: rgba(136, 115, 175, 0.493);
  border-radius: 50%;
  color: rgb(255, 255, 255);
}
.imgSizeHeadDivReturnBtn:hover{
  cursor: pointer;
  background: rgb(136, 115, 175);
}

.imgSizeHeadDivReturnIcon{
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 ;
  border-radius: 50%;
  right: 1px;
  top: 2px;

}
.buttonAuswahlConImgSize {
  height: 100%;
  width: 100%;
  text-align: center;
  
}



.imgChatImgDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 390px;
  background: rgb(0, 0, 0);


}
.imgChatImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-width: 100%;
  max-height: 390px;

}







  
  
  
  .controls {
    margin: auto;
    width: 50%;
    height: auto;
    padding-left: 25%;
    padding-right: 25%;
    display: flex;
    align-items: center;
  }
  
  
 
 
























/* outside class   .........*/
.ggg{
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
  outline: none;
}  

.picPos{
  align-items: center;
  /* größe vom Bild anpassen*/
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 0;
  background: none;
  display: flex;
  justify-content: center;
  margin-top: 7%;
    

    
}
.hidden{
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  z-index: 10;
  left: 0px;
  background: none;
}

.fakefile {
    z-index: 3;
    width: 100%;
    height: 100%; 
    border: none;
    outline: none;
    background: none;
    color: rgb(139, 139, 139);
}
.fakefile:hover {
  cursor: pointer;
  color: black;
}

.heicSpinner{
  position: relative;
  height: 100%;
  margin-top: 66%;
}






